body{
    background-color: cadetblue;
}
h1{
    color: blueviolet;
    text-align: center;
    border: 3px solid blueviolet;
    padding: 4px;
    background-color: burlywood;
}
h3{
    display: inline;
    border: 0;
    padding-right: 200px ;
    text-align: center;
    align-items: center;
    font-family: fantasy;
}