body{
    background-color: cadetblue;
}
h1{
    color: blueviolet;
    text-align: center;
    border: 3px solid blueviolet;
    padding: 4px;
    background-color: burlywood;
}
h3{
    display: inline;
    border: 0;
    padding-right: 200px ;
    text-align: center;
    align-items: center;
    font-family: fantasy;
}
h2{
    text-align: center;
    color: khaki;
    border: 3px solid blueviolet;
    padding: 0px;
    margin-left: 400px;
    margin-right: 400px;
}
.first{
    align-items: flex-start;
}
.second{
    align-items: flex-end;
}
.guide{
    color: rgb(109, 30, 30);
    text-align: center;
    background-color: darkviolet;
}
a:hover{
    color: palegreen;
}
div{
    text-align: right;
}
span{
    border: 3px solid black;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}