body{
    background-color: deeppink;
    font-family: fantasy;
    font-size: large;
}
h1{
    color: rgb(39, 73, 39);
    text-align: center;
}
h4{
    color: gray;
    background-color: greenyellow;
    border: palegreen;
    padding: 5px;
    margin: auto;
    text-align: center;
}
a:hover{
    color: palegreen;
}